# Ignore node_modules in both backend and frontend
backend/node_modules/
frontend/node_modules/
backend/database/db.json
# Ignore environment files
*.env

# Ignore logs
*.log

# Other files you may want to ignore
.DS_Store
.gitignore